@charset "utf-8";
[v-cloak] {
    display: none;
}
.outwork-wrap em,
.outwork-wrap i{
	font-style: normal;
}
.outwork-wrap{
	padding-top: 50px;
}
.outwork-wrap section.header{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9;
}

.outwork-wrap section.header > h2{
	position: relative;
	height: 50px;
	line-height: 50px;
	font-size: 28px;
	color: #363636;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 0 10px;
}
.outwork-wrap section.header > h2 em{
	display: inline-block;
	color: #8C8C8C;
	font-size: 14px;
	height: 45px;
	line-height: 50px;
	padding-left: 4px;
}
.outwork-wrap section.header >h2 span{
	position: absolute;
	display: inline-block;
	height: 45px;
	line-height: 50px;
	right: 10px;
	top: 0;
	color: #8C8C8C;
	font-size: 14px;
}
.outwork-wrap section.header >h2 span i
{
	color: #ff9812;
	font-size: 18px;
    padding: 0 2px;
}
.outwork-wrap section > #l-map{
	height: 143px;
	width:100%;
}
.outwork-wrap section .map-tit{
	padding: 10px 13px;
	position: relative;
}
.outwork-wrap section .map-tit h3{
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 3px;
	word-break: break-all;
	width: calc(100% - 60px);
	
}
.outwork-wrap section .map-tit p{
	font-size: 14px;
	color: #8C8C8C;
	width: calc(100% - 60px);
}
.outwork-wrap section .map-tit  input{
	margin-bottom: 0px;
	font-size: 14px;
	color: #aaa;
	height: 30px;
	border: 1px solid #ddd;
	padding: 0 5px;
	box-sizing: border-box;
}
.outwork-wrap section .map-tit a{
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -28px;
	font-size: 14px;
	color: #37AC3A;
}
.outwork-wrap section textarea{
	padding: 10px 13px;
	height: 111px;
	width: 100%;
	border: 0 none;
	box-sizing: border-box;
	border-top: 1px solid #F1F1F1;
	margin-top: 5px;
}
.outwork-wrap section .upload{
	border-top: 1px solid #F1F1F1;
	padding: 13px 8px 50px;
}
.outwork-wrap section .upload li{
	width: 45px;
	height: 45px;
	border: 1px solid #F1F1F1;
	border-radius:2px ;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	position: relative;
}
.outwork-wrap section .upload li.upImg{
	background:#E7E7EF url(../images/camera.png) no-repeat center;
	background-size: 28px 23px;
}
.outwork-wrap section .upload li.imgCont em
{
	position: absolute;
	background: #ff3f3f url(../../../common/wechat/img/reduce-small.png) no-repeat center center;
    background-size: 8px 2px;
    border-radius: 8px;
    left: -5px;
    top: -5px;
    display: inline-block;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.outwork-wrap section .upload li.imgCont img{
	width: 45px;
	height: 45px;
}
.outwork-wrap section .btn{
	padding: 0 13px 80px;
		
}
.outwork-wrap section .btn a:hover, 
.outwork-wrap section .btn a:visited{
	color: #fff;
}
.outworklog-wrap {
	padding-top: 45px;
}
.outworklog-wrap > .header{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #ddd;
	text-align: center;
	background-color: #fff;
	z-index: 10;
}
.outworklog-wrap > .header span{
	position: relative;
}
.outworklog-wrap > .header p{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
	
}
.outworklog-wrap > .header p a{
	position: absolute;
	width: 50%;
	left: 0;
	display: inline-block;
	float: left;
	height: 100%;
	z-index: 9;
}
.outworklog-wrap > .header p a:last-child{

	right: 0;
	left: initial;

}
.outworklog-wrap > .header em
{
	border-width: 5px 5px 5px 0px;
    border-color: #fff;
    border-right-color: #000;
    border-style: solid;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
    height: 0;
    width: 0;
    z-index: 10;
}
.outworklog-wrap > .header i
{
	border-width: 5px 0px 5px 5px;
    border-color: #fff;
    border-left-color: #000;
    border-style: solid;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 0px;
    height: 0;
    width: 0;
    transition: transform .2s ease-in 0s;
    _font-size: 0;
    z-index: 10;
}
.outworklog-wrap > .header > span{
	display: inline-block;
	padding: 0 15px;
}
.outworklog-wrap p.textNone{
	line-height: 50px;
	padding-top: 10px;
	text-align: center;
    font-size: 16px;
    color: #8c8c8c;
}
.outworklog-wrap .cont dl{
	padding: 10px;
	border-bottom: 1px solid #ddd;
	position: relative;
	min-height: 70px;
}
.outworklog-wrap .cont dl dt{
	width: calc(100% - 65px);
	
}
.outworklog-wrap .cont dl dt p{
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	word-wrap:break-word;
	padding-left:24px ;
	background-position:left center ;
	background-repeat: no-repeat;
	background-size: 12px;
	color: #363636;
}
.outworklog-wrap .cont dl dt p:nth-of-type(1){
	background-image: url(../images/out1.png);
}
.outworklog-wrap .cont dl dt p:nth-of-type(2){
	background-image: url(../images/out2.png);
}
.outworklog-wrap .cont dl dt p:nth-of-type(3){
	background-image: url(../images/out3.png);
	background-position:left 6px ;
	color: #A0A0A0;
	white-space:normal;
	overflow:initial;
}
.outworklog-wrap .cont dl dt span{
	padding-left: 24px;
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	word-wrap:break-word;
	font-size: 15px;
}
.outworklog-wrap .cont dl dd{
	position: absolute;
	right: 10px;
	width: 45px;
	height: 45px;
	top: 50%;
	margin-top: -23px;
	/*border: 1px solid #000;*/
}
.outworklog-wrap .cont dl dd img{
	width: 45px;
	height: 45px;
}
.outworklog-wrap .cont dl dd i{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 14px;
	color: #fff;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	font-size: 11px;
	line-height: 14px;
}

